#home {
  z-index: 100;

  width: 100vw;
  height: 100vh;

  max-width: 100vw;
  max-height: 100vh;
}

#logger {
  position: absolute;
  width: 600px;
  top: 2px;
  right: 2px;
}

#video {
  z-index: 500;
}

#loading {
  z-index: 999;
}

.panel {
  position: absolute;
  top: 0;
  left: 0;
  background: #00000088;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  overflow: auto;
}

#player {
  width: 100%;
  height: 100%;
}

*:focus {
  outline: none !important;
  box-shadow: none !important;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, webOS */
}

.col {
  flex: unset;
  width: 300px;
  height: 250px;
  border: 2px solid transparent;
  color: white;
  background: #333;
}

.col.focused, input:focus-visible, input:focus {
  border-color: yellow;
}

.row {
  flex-wrap: unset;
  display: -webkit-box;
  overflow: auto;
  width: 100%;
}

.title {
  color: white;
}

body {
  background: black;
  font-family: Arial, sans-serif;
}

.pic {
  width: 100%;
}

.pic2 {
  height: 100%;
}

.loading-spinner {
  width: 60px;
  height: 60px;
  border: 6px solid #ccc;
  border-top-color: #007bff; /* kék */
  border-radius: 50%;
  animation: spin 1s linear infinite;

  /* középre */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

@keyframes spin {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}

.hidden {
  display: none;
}
