
.hide-scrollbar::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, webOS */
}

.col {
  flex: unset;
  width: 300px;
  height: 250px;
  border: 2px solid transparent;
  color: white;
  background: #333;
}

.col.focused {
  border-color: yellow;
}

.row {
  flex-wrap: unset;
  display: -webkit-box;
  overflow: auto;
  width: 100%;
}

.title {
  color: white;
}

body {
  background: black;
  font-family: Arial, sans-serif;
}

.pic {
  width: 100%;
}

#loading {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  background: #00000088;
  width: 100%;
  height: 100%;
}

.loading-spinner {
  width: 60px;
  height: 60px;
  border: 6px solid #ccc;
  border-top-color: #007bff; /* kék */
  border-radius: 50%;
  animation: spin 1s linear infinite;

  /* középre */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

@keyframes spin {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}

.hidden {
  display: none;
}

video {
  width: 100%;
  height: 100%;
}