
body {
  overflow: auto;
  background: rgb(19, 20, 40);
  color: white;
  font-family: 'Quicksand', serif;
}

form {
  display: flex;
  flex-wrap: wrap;
}

button {
  font-size: 16px;
  background-color: rgb(30, 29, 47);
  color: white;
  font-weight: 700;
}
