.button-row {
  display: flex;
  justify-content: left;
  width: 100%;
  overflow: auto;
}

.button-row::-webkit-scrollbar {
  display: none;                /* Chrome, Safari */
}

.row-title {
  font-size: 24px;
}

button {
  border: 5px solid black;
  margin: 10px 20px 0 0;
}

button:focus {
  border: 5px solid gray;
  outline: none;
}
