.header {
  background: rgb(19, 20, 40);
  height: 60px;
  width: 100%;
  vertical-align: center;
}

.example-full-width {
  padding-left: 30px;
  width: 200px;
  font-size: 23px;
}

button.search {
  width: 58px;
  height: 58px;
}
