.header {
  margin-top: 30px;
  background: rgb(19, 20, 40);
  height: 60px;
  width: 100%;
}

.example-full-width {
  padding-left: 30px;
  width: 200px;
  font-size: 25px;
}

button.search {
  width: 64px;
  height: 64px;
  border-radius: 0 16px 16px 0;
}
